body {
    font-family: Arial, sans-serif;
    background: #121212;
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

.container {
    background: #1E1E1E;
    padding: 30px;
    width: 350px;
    border-radius: 12px;
    box-shadow: 0 0 10px #000;
    text-align: center;
}

h2 {
    margin-bottom: 10px;
}

.subtitle {
    color: #b3b3b3;
    font-size: 14px;
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 12px;
    margin-bottom: 12px;
    border-radius: 6px;
    border: none;
    outline: none;
}

.btn {
    width: 100%;
    padding: 12px;
    background: #1DB954;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
}

.btn:hover {
    opacity: 0.85;
}

.back {
    margin-top: 15px;
    font-size: 14px;
}

.back a {
    color: #1DB954;
    text-decoration: none;
}
